@import '~Root/css/mixins';
@import '~Root/css/colors';

:local(.container) {
  margin: 50px 50px 0 50px;
}

:local(.contact) {
  display: flex;
  justify-content: space-around;

  > div:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  input, textarea {
    margin: 10px 0;
    .input();
  }
}
