{% extends locals.path + '/u.njk' %}

{% block head %}
{% endblock %}

{% block content %}
{% for article in articles %}
  <p>{{ article._id }}</p>
  <p>{{ article.title }}</p>
  <p>{{ article.content }}</p>
  <p>{{ article.avatar }}</p>
  <p>{{ article.createdAt }}</p>
  <h1>Author Information</h1>
  <p>{{ article.author.fname }} {{ article.author.lname }}</p>
  <p>{{ article.author.username }}</p>
  <p>{{ article.author.avatar }}</p>
  <a href='/u/article/manage/{{ article._id }}'>قبول کردن یا نکردن</a>
  <br><br>
{% endfor %}
{% endblock %}

{% block scripts %}
{% endblock %}
