{% extends locals.path + '/u.njk' %}

{% block head %}
{% endblock %}

{% block content %}
{% for i in articles %}
  <p>{{ i._id }}</p>
  <p>{{ i.title }}</p>
  <p>{{ i.content }}</p>
  <p>{{ i.avatar }}</p>
  <p>{{ i.createdAt }}</p>
  <h1>Author Information</h1>
  <p>{{ i.author.fname }} {{ i.author.lname }}</p>
  <p>{{ i.author.username }}</p>
  <p>{{ i.author.avatar }}</p>
{% endfor %}
{% endblock %}

{% block scripts %}
{% endblock %}
