{% extends locals.path + '/u.njk' %}

{% block head %}
  <link rel="stylesheet" href="/files/css/lib/cropper.css">
  <link rel="stylesheet" href="/files/css/setting-cropper.css">
  <link rel="stylesheet" href="/files/css/post.css">
{% endblock %}

{% block content %}
  <div class="page-title">
    <i class="icon-pencil"></i>
    <span>اضافه کردن عکس</span>
  </div>

  <div class="post-container">

    <form action="/u/gallery/add" method="post" name="add-photo">
      <div class="add-post">

        <input type="text" name="title" required="required"
        placeholder="عنوان" maxlength="100">

      <input
        type="file"
        id="upload"
        value="Upload"
        name="photo"
        style="display: none;">

      <label for="upload" class="cam-icon">
        <span>عکس</span>
        <i class="icon-camera" title="عکس"></i>
      </label>

      <input type="submit" value="ثبت" class="green-btn">

      </div>
    </form>
  </div>
{% endblock %}

{% block scripts %}
<script src="/files/js/add-gallery.js"></script>
{% endblock %}
