{% extends locals.path + '/u.njk' %}

{% block head %}
  <link rel="stylesheet" href="/files/css/gallery.css">
{% endblock %}

{% block content %}
  {% if empty %}
    <div class="page-title">
      <span>هیچ عکسی وجود ندارد</span>
    </div>
  {% else %}
    <div class="page-title">
      <span>البوم</span>
    </div>
    <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img01">
      <div id="caption"></div>
    </div>
    <div class="gallery-container">
      {% for i in photos %}
        <div class="gallery-posts" id="{{ i._id }}">
          <div class="img-gallery">
            <img src="/img/{{ i.photo }}" class="myImg">
          </div>
          <div class="gallery-body">
            <span>{{ i.title }}</span>
          </div>
        </div>
        <form
          action="/u/gallery/remove/{{ i._id }}"
          method="post"
          class="remove-photo"
          name="remove-photo">

          <input type="hidden" name="id" value="{{ i._id }}">
          <input type="submit" value="حذف">

        </form>
      {% endfor %}
    </div>
    <a href="/gallery" id="previous">
      <button>قبلی</button>
    </a>
    <a href="/gallery" id="next">
      <button>بعدی</button>
    </a>
  {% endif %}
{% endblock %}

{% block scripts %}
{% if not empty %}
  <script src="/files/js/gallery.js"></script>
{% endif %}
{% endblock %}
