{% extends locals.path + '/u.njk' %}

{% block head %}
{% endblock %}

{% block content %}
  <form
    action="/u/post/add"
    method="post"
    name="add-post">

    <input
      type="text"
      name="title"
      required
      placeholder="عنوان"
      maxlength="100">

    <textarea
    name="content"
    rows="8"
    cols="80"
    required
    placeholder="متن"
    maxlength="10000"></textarea>

    <input
    type="submit"
    value="ثبت">

  </form>
  <button id="preview">Preview</button>

  <div id="show"></div>
{% endblock %}

{% block scripts %}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js">
</script>
<script src="/files/js/lib/checkstatus.js"></script>
<script src="/files/js/add-post.js"></script>
{% endblock %}
