{% extends locals.path + '/u.njk' %}

{% block head %}
{% endblock %}

{% block content %}
{% if authorposts | join === "" %}
  <h1>شما هیچ پستی ندارید</h1>
{% else %}
{% for i in authorposts %}
<div style="border: 1px solid red;" id="{{ i._id }}">
  <a href="/post/{{ i._id }}">{{ i.title }}</a>
  <h3>{{ i.content }}</h3>
  <h5>{{ i.minutes }} minutes read</h5>
  <p>{{ createdAt }}</p>

  <form action="/u/post/delete/{{ i._id }}" method="post" class="delete-post">

    <input type="hidden" value="{{ i._id }}" name="id">

    <input type="submit" value="حذف">

  </form>
</div>
{% endfor %}
{% endif %}
{% endblock %}

{% block scripts %}
<script src="/files/js/lib/checkstatus.js"></script>
<script src="/files/js/delete-post.js"></script>
{% endblock %}
