@import '~Root/css/mixins';

:local(.container) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  input, textarea {
    width: 400px;
    margin: 20px 0;
    padding: 20px;
    .input();
  }
}

:local(.title) {
  font-size: 30px;
  color: #222;
  margin: 20px 0;
}

@media (min-width: 120px) and (max-width: 580px) {
  :local(.container) input, :local(.container) textarea {
    width: 90%;
  }
}
