@import '~Root/css/colors';
@import '~Root/css/mixins';

:local(.container) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

:local(.user) {
  background-color: white;
  margin: 20px;
  padding: 50px;
  text-align: center;
  .boxShadow();
}

:local(.title) {
  font-size: 30px;
  color: #222;
  margin: 20px 0;
}

@media (min-width: 120px) and (max-width: 580px) {
  :local(.user) {
    width: 90%;
    margin: 25px;
    padding: 20px;
  }
}
