@import '~Root/css/colors';
@import '~Root/css/mixins';

:local(.container) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #333;
  font-size: 18px;
}

:local(.user) {
  width: 100%;
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  > p:nth-of-type(1) {
    font-family: SB;
  }

  span {
    color: #fff;
  }

  h1 {
    color: #fff;
    font-size: 60px;
    text-shadow: 0 1px 10px black;
  }
}

:local(.articleinfo) {
  display: flex;

  span {
    margin: 10px;
    text-shadow: 0 1px 5px black;
  }
}

:local(.userImage) {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

:local(.articleAvatar) {
  width: 90%;
  height: 600px;
}

:local(.articleContent) {
  margin: 10px 0;
  text-align: right;
}

:local(.comment) {
  width: 60%;
  padding: 10px;
  background-color: white;
  .boxShadow();
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  > * {
    display: block;
  }

  textarea, input {
    .input();
    margin: 20px 0;
  }
}

:local(.showComments) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

:local(.oneComment) {
  width: 50%;
  background-color: white;
  margin: 15px 0;
  padding: 15px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  .boxShadow();

  > div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  p {
    max-width: 200px;
    word-break: break-all;
  }
}

:local(.liked) {
  font-size: 30px;
  color: red;
  transition: font-size 300ms;

  &:hover, &:active {
    font-size: 50px
  }
}

:local(.disliked) {
  font-size: 30px;
  color: black;
  transition: font-size 300ms;

  &:hover, &:active {
    font-size: 50px
  }
}

:local(.tags) {
  display: flex;
  border-bottom: 1px solid black;
}

@media (min-width: 120px) and (max-width: 580px) {
  :local(.comment) {
    width: 90%;
    padding: 30px;
  }

  :local(.tags) {
    flex-direction: column;
  }
}
