:local(.container) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 10px 0;
  color: #333;
  font-size: 18px;
}

:local(.user) {
  > p:nth-of-type(1) {
    font-family: SB;
  }
}

:local(.userImage) {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

:local(.articleAvatar) {
  width: 90%;
  height: 600px;
}

:local(.articleContent) {
  margin: 10px 0;
  text-align: right;
}

@media (min-width: 120px) and (max-width: 580px) {
}
