<div class="add-post-icons">

  <i class="icon-bold" id="add-bold-text" title="پر رنگ کردن"></i>

  <i class="icon-italic" id="add-italic-text" title="کج کردن"></i>

  <i class="icon-strikethrough" id="add-line-through-text"
  title="خط کشیدن روی متن"></i>

  <i class="icon-code" id="add-code-text"
  title="اضافه کردن کد"></i>

  <i class="icon-link" id="add-link-text"
  title="اضافه کردن لینک"></i>

  <label for="add-photo-to-post" title="اضافه کردن عکس">
    <i class="icon-image"></i>
  </label>

</div>
