:local(.slideout) {
  display: block;
  background: white;
  margin-bottom: 1em;
  height: 100%;
  width: 1px;
  opacity: 0;
  transition: all .75s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 999999;
}

:local(.show) {
  opacity: 1;
  width: 100%
}

:local(.hide) {
  opacity: 0;
  width: 1px;
}
