{% extends locals.path + '/u.njk' %}

{% block head %}
{% endblock %}

{% block content %}
{% if empty %}
  <h1>کسی درخواستی برای عضویت نداده است</h1>
{% else %}
{% for i in member %}
  <div id="{{ i.username }}">
    <h1>{{ i.username }}</h1>

    <form
      action="/u/sub/remove/{{ i.username }}"
      method="post"
      class="decline">

      <input type="hidden" name="username" value="{{ i.username }}">
      <input type="submit" value="نپذیرفتن">

    </form>
    <form
      action="/u/sub/add/{{ i.username }}"
      method="post"
      class="accept">

      <input type="hidden" name="username" value="{{ i.username }}">
      <input type="submit" value="پذیرفتن">

    </form>
  </div>
{% endfor %}
{% endif %}
{% endblock %}

{% block scripts %}
<script src="/files/js/lib/checkstatus.js"></script>
<script src="/files/js/new-requested.js"></script>
{% endblock %}
