{% extends locals.path + '/u.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/sub-manage.css">

{% endblock %}

{% block content %}

{% if empty %}
  <h1>شما هیچ کس رو نپذیرفتید</h1>
{% elif subs | join !== "" %}
{% for i in subs %}

<div class="sub-manage">
  <div id="{{ i.username }}">
    <h3>نام کاربری :  {{ i.username }}</h3>
    <p> نام و نام خانوداگی :  {{i.fname}} {{i.lname}}</p>

    <form
      action="/u/sub/manage/remove/{{ i.username }}"
      method="post"
      class="remove">

      <input type="hidden" name="username" value="{{ i.username }}">
      <input type="submit" value="حذف کاربر">

    </form>

  </div>

</div>

{% endfor %}
{% endif %}
{% endblock %}

{% block scripts %}
<script src="/files/js/manage-submembers.js"></script>
{% endblock %}
