{% extends locals.path + '/u.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/sub.css">

{% endblock %}

{% block content %}
<div class="page-title">
{% if empty %}
  <span>شما هیچ کس رو نپذیرفتید</span>
  </div>
  <div class="page-title">
{% elif subs | join !== "" %}
   <span>مدیریت کاربران تایید شده</span>
</div>

<div class="sub-container">
{% for i in subs %}

<div class="sub">
  <div id="{{ i.username }}">
    <h3>نام کاربری :  {{ i.username }}</h3>
    <p> نام و نام خانوداگی :  {{i.fname}} {{i.lname}}</p>

    <form
      action="/u/sub/manage/remove/{{ i.username }}"
      method="post"
      class="remove">

      <input type="hidden" name="username" value="{{ i.username }}">
      <input type="submit" value="حذف کاربر">

    </form>

  </div>

</div>

{% endfor %}
</div>
{% endif %}
<form
  action="/u/sub/manage/remove/"
  method="post"
  name="remove-immidiately">

  <input
    type="text"
    name="username"
    value="{{ i.username }}"
    placeholder="یوزرنیم">

  <input type="submit" value="حذف کاربر">

</form>
{% endblock %}

{% block scripts %}
<script src="/files/js/manage-submembers.js"></script>
{% endblock %}
