{% extends locals.path + '/index.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/recovery.css">
{% endblock %}

{% block content %}
<div class="page-title">
<span>رمز جدید</span>
</div>
<div class="change">
  <form action="/recovery/change" method="post" name="recovery-change-form">

   <input
     type="password"
     name="password"
     required
     placeholder="رمز جدید"
     maxlength="200">

   <input
    type="hidden"
    name="token"
    value="{{ token }}">

    <input
      type="submit"
      value="ثبت" class="green-btn">

  </form>
  </div>
{% endblock %}

{% block scripts %}
<script src="/files/js/change-recovery.js"></script>
{% endblock %}
