{% extends locals.path + '/index.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/recovery.css">
{% endblock %}

{% block content %}
<div class="page-title">
<span>فراموشی رمز عبور</span>
</div>
<div class="recovery">
  <form action="/recovery" method="post" name="recovery-form">
    <input
     type="email"
     name="email"
     required
     placeholder="ایمیل"
     maxlength="200">

     <p id="svg-captcha"></p>

     <input
       type="password"
       name="captcha"
       required
       placeholder="کد امنیتی"
       maxlength="10">

    <input
      type="submit"
      value="درخواست" class="green-btn">

  </form>
  </div>
{% endblock %}

{% block scripts %}
<script src="/files/js/recovery.js"></script>
{% endblock %}
