@import '~Root/css/colors';
@import '~Root/css/mixins';

:local(.article) {
  padding-bottom: 30px;
  border-radius: 5px;
  background-color: white;
  .boxShadow();
  color: #444;

  h1 {
    font-size: 22px;
    padding: 20px;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 200px;
  }
}

:local(.user) {
  display: flex;
  align-items: center;
  font-size: 14px;

  img {
    margin: 20px 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  a {
    color: @blue-base;
  }

  p {
    color: #555;
  }
}

:local(.others) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
