@import '~Root/css/colors';
@import '~Root/css/mixins';

:local(.article) {
  background: #fff 50%;
  box-shadow: 8px 14px 38px rgba(39,44,49,.07),1px 3px 8px rgba(39,44,49,.05);
  color: #444;
  overflow: hidden;
  border-radius: 5px;
  min-height: 300px;
  transition: 0.3s;
  position: relative;

  &:hover {
    box-shadow: 8px 14px 38px rgba(39,44,49,.02),1px 3px 8px rgba(39,44,49,.02);
  }

  h1 {
    font-size: 22px;
    padding: 15px 20px;
  }

  p {
    margin: 10px;
    text-align: right;
    word-wrap: break-word;
    line-height: 1.6em;
    font-size: 15px;
    color: #3c484e;
    padding: 10px;
  }

  img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

:local(.user) {
  display: flex;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0 20px;
    }

  img {
    margin: 8px 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  a {
    color: #555;
    transition: 0.2s;

    &:first-child {
      margin-right: -25px;
      &:hover {
        color: #333;
      }
    }

    &:last-child {
      &:hover {color: @green-base;}
    }
  }



}

:local(.others) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
