{% extends locals.path + '/u.njk' %}

{% block head %}
{% endblock %}

{% block content %}
<a href="/u/post/add">پست کن</a>
<p></p>
{% if member.type >= 3 %}
<a href="/u/new">افراد درخواست داده</a><p></p>
<a href="/u/new/manage">مدیریت اعضای پذیرفته شده توسط شما</a>
<p></p>
{% endif %}
<a href="/u/post/all">پست های من</a>
<p></p>
<a href="/u/setting">تنظیمات</a>
<p></p>
<a href="/u/logout" onclick="localStorage.setItem('loggedout', '1')">خروج</a>
{% endblock %}

{% block scripts %}
{% endblock %}
