{% extends locals.path + '/index.njk' %}

{% block head %}
{% endblock %}

{% block content %}
<a href="/u/post/add">پست کن</a>
<p></p>
{% if member.type >= 2 %}
<a href="/u/addmember">اضافه کردن عضو جدید</a>
<p></p>
{% endif %}
<a href="/u/post/all">پست های من</a>
<p></p>
<a href="/u/setting">تنظیمات</a>
<p></p>
<a href="/u/logout">خروج</a>
{% endblock %}

{% block scripts %}
{% endblock %}
