{% extends locals.path + '/u.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/conference.css">
{% endblock %}

{% block content %}
{% if empty %}
<div class="page-title">
  <span>هیچ درخواستی برای ارائه وجود ندارد</span>
  </div>
{% else %}
<div class="page-title">
  <span>کنفرانس ها</span>
  </div>
{% for i in confs %}
<div class="cnf-manage" id="{{ i._id }}">
  <div>نام کاربر : <a href="/user/{{ i.author.username }}">
    {{ i.author.fname }} {{ i.author.lname }}
  </a>
  </div>
  <div class="requested-confs">
    <h3> موضوع کنفرانس : {{ i.title }}</h3>
    <p>توضیحات :  {{ i.description }}</p>
   <div class="cnf-control">
    <form action="/u/conference/manage/accept" method="post" class="accept">
      <input type="hidden" name="id" value="{{ i._id }}">
      <input type="submit" value="قبول کردن" class="green-btn">
    </form>

    <form action="/u/conference/manage/decline" method="post" class="decline">
      <input type="hidden" name="id" value="{{ i._id }}">
      <input type="submit" value="قبول نکردن" class="red-btn">
    </form>
    </div>
  </div>
  </div>
{% endfor %}
{% endif %}
{% endblock %}

{% block scripts %}
<script src="/files/js/manage-conf.js"></script>
{% endblock %}
