{% extends locals.path + '/index.njk' %}

{% block head %}
  <link rel="stylesheet" href="/files/css/viewpost.css">
  <link rel="stylesheet" href="/files/css/home.css">
  <link rel="stylesheet" href="/files/css/post-short.css">
{% endblock %}

{% block content %}
  <div class="viewpost" style="background-image: url('/files/image/conference.jpg');">
    <span>درباره جامعه متن باز قم</span>
  </div>
  <div class="developers">
    <figure>
    <img src="/files/image/developers/msm.jpg">
    <a>محمد سیفی مرندی</a>
    </figure>
    <figure>
    <img src="/files/image/developers/mmk.jpg">
    <a>محمد متین کابلی</a>
    </figure>
  </div>
  <div class="viewpost-body">

    </div>

{% endblock %}

{% block scripts %}
{% endblock %}
