{% extends locals.path + '/index.njk' %}

{% block head %}
  <link rel="stylesheet" href="/files/css/viewpost.css">
  <link rel="stylesheet" href="/files/css/home.css">
  <link rel="stylesheet" href="/files/css/post-short.css">
  <link rel="stylesheet" href="/files/css/about.css">
{% endblock %}

{% block content %}
  <div class="viewpost" style="background-image: url('/files/image/conference.jpg');">
    <span>درباره جامعه متن باز قم</span>
  </div>
  <div class="about-all">
  <div class="qomosc-admin">
    <h1>موسس</h1>
      <figure>
         <img src="/files/image/sg.jpg">
         <a class="admin-name">سجاد گرامی</a>
         <p class="admin-description">موسس جامعه متن باز قم</p>
         <div class="icons">
           <a class="contributor-icon" href="https://github.com/sajjadG">
             <i class="fab fa-github"></i>
           </a>
           <a class="contributor-icon" href="https://t.me/Sajjad_Gerami">
             <i class="fab fa-telegram"></i>
           </a>
         </div>
      </figure>
  </div>
  <div class="developers">
    <div>
    <h1>توسعه دهندگان</h1>
    </div>
    <div class="developers-img">
    <figure>
      <a href="http://mohammadseyfimarandi.tk/">
    <img src="/files/image/developers/msm.jpg">
    </a>
    <a href="http://mohammadseyfimarandi.tk/" class="admin-name">محمد سیفی مرندی</a>
    <p class="admin-description">طراح و برنامه نویس Front-End</p>
    <div class="icons">
      <a href="https://github.com/msm79"><i class="fab fa-github"></i></a>
      <a href="https://t.me/msm79"><i class="fab fa-telegram"></i></a>
    </div>
    </figure>
    <figure>
      <a href="http://matinkaboli.ir/">
    <img src="/files/image/developers/mmk.jpg">
    </a>
    <a href="http://matinkaboli.ir/" class="admin-name">محمد متین کابلی</a>
    <p class="admin-description">برنامه نویس Back-End</p>
    <div class="icons">
      <a href="https://github.com/matinkaboli"><i class="fab fa-github"></i></a>
      <a href="https://t.me/matinkaboli"><i class="fab fa-telegram"></i></a>
      <a href="https://twitter.com/matin_kaboli"><i class="fab fa-twitter"></i></a>
      <a href="https://instagram.com/matinkaboli"><i class="fab fa-instagram"></i></a>
    </div>
    </figure>
    </div>
  </div>
  <div class="content-of-about-us">
    <div class="content">
      <h1>جامعه متن باز قم</h1>
      <h2>اهداف:</h2>
      <ul>
        <li>فرهنگ‌سازی استفاده از تکنولوژی‌های متن باز</li>
        <li> آموزش تکنولوژی‌های متن باز</li>
        <li>حمایت و پشتیبانی از کاربران تکنولوژی‌های متن باز</li>
        <li>کمک به توسعه تکنولوژی‌های متن باز</li>
      </ul>
      <br>
      <h2>تکنولوژی ها:</h2>
      <p>در این وبسایت سعی شده که از تکنولوژی های به روز
      استفاده شود. در قسمت
    Back-End
    از <a href="https://nodejs.org/">نود جی اس(Node.js)</a> استفاده شده است،
    و از پایگاه داده
  <a href="http://mongodb.com/">مونگو دی بی(MongoDB)</a> استفاده شده.
  همچنین در قسمت Front-End از ابزار های به روزی استفاده شده است.
    به عنوان مثال از
    <a href="https://developer.mozilla.org/en/docs/Web/API/Fetch_API">Fetch API</a>
    برای فرستادن درخواست ها به سرور به صورت Asynchronous استفاده شده.
     همینطور از <a href="http://lesscss.org/">less</a> برای استایل دهی و کتابخانه
    <a href="http://izitoast.marcelodolce.com/">iziToast</a> برای نشان دادن
    پیام ها به کاربر استفاده شده.
    <br><br>
    این پروژه تماما متن باز بوده و شما با مراجعه به
    <a href="https://github.com/qomosc/blog">این صفحه در گیتهاب</a> قادر به
    همکاری و مشارکت هستید.
    <br>
    </p><br>
    <h2>مشارکت کنندگان:</h2>
    <a href="https://alimovahedi.ir" class="contributor-name">
      <h2 style="display: inline;">علی موحدی</h2>
    </a>
    &nbsp;&nbsp;
    <a class="contributor-icon" href="https://github.com/amovah">
      <i class="fab fa-github"></i>
    </a>
    <a class="contributor-icon" href="https://t.me/FirefoxOS">
      <i class="fab fa-telegram"></i>
    </a>
    <p>&nbsp;&nbsp;فریم ورک
    <a href="https://github.com/amovah/bird">bird</a>
    برای ساختمان بندی پروژه، همچنین
    مرور بر پروژه و بازخورد در باره کار.</p>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}
