{% extends locals.path + '/index.njk' %}

{% block head %}
{% endblock %}

{% block content %}
<h1>صفحه ارائه</h1>
<p>_id: {{ info._id }}</p>
<p>عنوان ارائه: {{ info.title }}</p>
<p>توضیحات: {{ info.description }}</p>
<p>ساخته شده در: {{ info.createdAt }}</p>
<p>افرادی که حظور پیدا میکنند: {{ info.attenders }}</p>
<br><br>
{% for i in info.providers %}
<p>اسم کسی که ارائه میده: {{ i.fname }} {{ i.lname }}</p>
<p>یوزرنیم کسی که ارائه میده: {{ i.username }}</p>
<p>عکسش: {{ i.avatar }}</p>
<p>توضیحاتش: {{ i.description }}</p>
{% endfor %}
{% endblock %}

{% block scripts %}
{% endblock %}
