{% extends locals.path + '/index.njk' %}

{% block head %}
  <link rel="stylesheet" href="/files/css/about.css">
{% endblock %}

{% block content %}
  <div class="page-title">
    <span>تماس با ما</span>
  </div>

  <div class="contact-container">
    <div class="contact-form">
      <div class="contact-info">
        <span>تماس با جامعه متن باز قم</span>
        <p>مهمترین عضو تیم ما شما هستید! دوست داریم پیشنهادات و انتقادات شما را بشنویم. حتما با ما در تماس باشید.</p>
      </div>
      <form action="/contact" method="post" name="contact-form">

        <input type="text" name="name" required="required" placeholder="نام">

        <input type="email" name="email" required="required" placeholder="ایمیل">

        <input type="text" name="title" required="required" placeholder="موضوع">

        <textarea name="description" required="required" placeholder="توضیحات"></textarea>

        <div class="cap">
          <p id="svg-captcha"></p>

          <i class="fas fa-sync-alt" id="change-captcha"></i>
        </div>

        <input type="text" name="captcha" required="required" placeholder="کد امنیتی">
        <div class="div-btn">
          <input type="submit" value="ارسال پیام" class="green-btn">
        </div>
      </form>

    </div>
    <div class="left-col-contact">
      <div class="contact-us">
        <span>آدرس : چهار راه شهدا (چهار راه بیمارستان) - مجتمع موبایل آسیا - طبقه منفی۲
        </span>
        <div class="mail-time">
          <a href="mailto:oscqom@gmail.com">oscqom@gmail.com</a>
          <span>ساعت برگزاری جلسه: ۱۶ تا ۱۸</span>
        </div>
        <p>بعد از ارائه‌ جلسه دورهمی دوستانه جهت آشنایی و انتقال اطلاعات برقرار است. در صورتی که سوالی دارید و دنبال پاسخ آن هستید شرکت در این جلسات را به شما پیشنهاد می‌دهیم. از همه علاقه‌مندان و دوستداران متن‌باز و لینوکس برای شرکت در این جلسه دعوت به عمل
          می‌آید. عزیزان توجه داشته باشید بلیت‌های این جلسه 🆓رایگان🆓 هستند و موقع خرید بلیت در ایوند نیاز به پرداخت هزینه ندارید. گزینه حمایت مالی هم بصورت اختیاری برای دوستانی که تمایل به کمک به جامعه برای برگزاری جلسات دارند، قرارداده شده.
        </p>
      </div>
      <div id="map"></div>
    </div>

  </div>
  <div class="cmt-container">

    {% for i in opinions %}
      <div class="comment">
        <div class="cmt-avatar">
          {% if i.avatar %}
          <img src="/img/{{ i.avatar }}" style="max-width: 200px">
          {% else %}
          <img src="/files/image/default-avatar.png" style="max-width: 200px">
          {% endif %}
        </div>
        <div class="cmt-content">
          <div class="cmt-title">
            <div>
              <span class="cmt-name">{{ i.name }}</span>
            </div>
            <div class="cmt-event">
              <span>{{ i.createdAt }}</span>
            </div>
          </div>
          <div class="cmt-des">
            <p>{{ i.description }}</p>
          </div>
          {% if i.answer %}
          <a href="/user/{{ i.admin.username }}">
            <p>{{ i.answer }}</p>
            <p>{{ i.admin.fname }} {{ i.admin.lname }}</p>
            {% if i.admin.avatar %}
              <img src="/img/{{ i.admin.avatar }}" style="max-width: 200px;">
            {% else %}
              <img src="/files/image/default-user.png" style="max-width: 200px;">
            {% endif %}
          </a>
          {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
  <script src="/files/js/map.js"></script>
  <script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDS8b7jo2a-zHZTCQYr1qVw_Y1CxYHpCMU&callback=initMap"></script>
  <script src="/files/js/contact.js"></script>
{% endblock %}
