{% extends locals.path + '/index.njk' %}

{% block head %}
  <link rel="stylesheet" href="/files/css/conference.css">
  <link rel="stylesheet" href="/files/css/gallery.css">
  <style>
    img {
      max-width: 200px;
      max-height: 200px;
    }
  </style>
{% endblock %}

{% block content %}
  {% if empty %}
    <div class="page-title">
      <span>هیچ عکسی وجود ندارد</span>
    </div>
  {% else %}
  <div class="confs-search">
    <span>دنبال چی میگردی ؟؟</span>
  <form action="/conferences" method="get">
    <input type="search" name="q" value="{{ query }}" placeholder="جستجو کن">
    <button type="submit">پیدا کن<i class="fas fa-search"></i></button>
  </form>
  </div>
  {% if type == 0 %}
    <div class="page-title">
      <span>گالری</span>
    </div>
    <div class="gallery-container">
      <div class="img-select">
      </div>
    {% for i in photos %}
      <div class="gallery-posts">
          <div class="img-gallery" style="background-image: url('/img/{{ i.photo }}');">
            <div class="gallery-body">
              <span>{{ i.title }}</span>
              <div>
                {% if i.author.avatar %}
                  <img src="/img/{{ i.author.avatar }}">
                {% else %}
                  <img src="/files/image/default-user.png">
                {% endif %}
                <span>{{ i.author.fname }}
                  {{ i.author.lname }}</span>
              </div>
              </div>
        </div>

      </div>
    {% endfor %}
    </div>
    {% elif type == 1 %}
    <div class="page-title">
      <span>عکس های جستجو شده</span>
    </div>
    {% for i in photos %}
      <div class="gallery-posts">
          <div class="img-gallery" style="background-image: url('/img/{{ i.photo }}');">
            <div class="gallery-body">
              <span>{{ i.title }}</span>
              <div>
                {% if i.author.avatar %}
                  <img src="/img/{{ i.author.avatar }}">
                {% else %}
                  <img src="/files/image/default-user.png">
                {% endif %}
                <span>{{ i.author.fname }}
                  {{ i.author.lname }}</span>
              </div>
              </div>
        </div>

        {% endfor %}
      </div>
    {% endif %}
    {% endif %}
    <div class="confs-control">
      <a href="/gallery" id="previous">
        <button>قبلی</button>
      </a>
      <a href="/gallery" id="next">
        <button>بعدی</button>
      </a>
    </div>
{% endblock %}

{% block scripts %}
  {% if empty %}
  {% else %}
    <script src="/files/js/gallery.js"></script>
  {% endif %}
{% endblock %}
