{% extends locals.path + '/index.njk' %}

{% block head %}
{% endblock %}

{% block content %}
  <div class="contact" id="particles-js">
    <div id="contact-texts">
      <img src="https://jordanhall.co.uk/wp-content/uploads/2015/06/Open-Source-Logo.png" width="80px">
      <h1>جامعه متن باز قم</h1>
    </div>
  </div>
  <div class="description">
    <div class="col-des">
      <h2>به جامعه متن باز قم خوش آمدید</h2>
      <p>جامعه متن‌باز قم با هدف فراهم کردن محیطی برای به اشتراک گذاری دانش و تجربیات افرادی که در زمینه‌های مختلف متن‌باز فعالیت می‌کنند تاسیس شده است.</p>
    </div>
    <div class="des-info">
      <div class="dec-content">
        {% if locals.logged %}
        <div>
          <span>برای پست گزاشتن کلیک کنید<span>
        </div>
        <div>
          <a href="/u/post/add">پست گزاشتن</a>
          <a href="/u">داشبورد</a>
        </div>
        {% else %}
        <div>
          <span>برای پست گذاشتن ابتدا ثبت نام کنید<span>
        </div>
        <div>
          <a href="/login">ورود</a>
          <a href="/signup">ثبت نام</a>
        </div>
        {% endif %}
      </div>
    <img src="/files/image/chrome.png">
</div>
  </div>
  <section class="evand-banner">
    <div class="subject">
         <h2>موضوع کنفرانس بعدی :</h2>
         <span>نحوه فعالیت در stackoverflow.com</span>
       </div>
         <div>توسط :
            <img src="/files/image/developers/msm.jpg">
             <span><i class="fa fa-circle"></i><span>
             <span>محمد سیفی مرندی</span>
         </div>
         <div class="date-time">
         <span>تاریخ برگزاری : 96/11/30</span>
         <span>ساعت برگزاری جلسه: ۱۶ تا ۱۸</span>
         </div>
         <span>آدرس: چهار راه شهدا (چهار راه بیمارستان) - مجتمع موبایل آسیا - طبقه منفی۲ </span>
         <p>⚪️
           عزیزان توجه داشته باشید بلیت‌های این جلسه (رایگان) هستند و موقع خرید بلیت در ایوند نیاز به پرداخت هزینه ندارید.

گزینه حمایت مالی هم بصورت اختیاری برای دوستانی که تمایل به کمک به جامعه برای برگزاری جلسات دارند، قرارداده شده.
<br>
         </p>
         <a href="https://evand.com/events/qomosc16">مشاهده در ایوند</a>
  </section>
  <div class="home-content">
    <div class="last-posts">
      <h3>مطالب اخیر</h3>
      <div class="latset-posts">
        {% for i in posts %}
          <div class="posts">
            <div class="posts-head">
              <div class="posts-head-right">
                <a href="/user/{{ i.author.username }}">
                  <div class="profile-img" style="background-image: url(/img/{{ i.author.avatar }}); background-size: cover;"></div>
                </a>
                <div class="col-name">
                  <a href="/user/{{ i.author.username }}">
                    <span title="نام نویسنده">{{ i.author.fname }}
                      {{ i.author.lname }}</span>
                  </a>
                  <small class="spn-time">{{ i.createdAt }}</small>
                </div>
              </div>
            </div>
            <a href="/viewpost/{{ i._id }}">
              <div class="posts-pic">
                <img src="/img/{{ i.avatar }}">
              </div>
            </a>
            <div class="posts-body">
              <div class="posts-title">
                <a href="/viewpost/{{ i._id }}">
                  <span>{{ i.title }}</span>
                </a>
              </div>
              <div class="posts-summary">
                <p>{{ i.content }}</p>
              </div>
            </div>
            <div class="posts-footer">
              <div class="posts-event">
                <div class="like-btn" title="لایک ها">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                  <span>{{ i.likes }}</span>
                </div>
                <div class="view-btn" title="بازدید ها">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                  <span>{{ i.viewers }}</span>
                </div>
              </div>
              <a href="/viewpost/{{ i._id }}">
                <span>بیشتر بخوانید . . .</span>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endblock %}

  {% block scripts %}
    <script src="/files/js/lib/particles.min.js"></script>
    <script>
    particlesJS.load('particles-js', '/files/js/lib/p.json', function() {
    });
    </script>
  {% endblock %}
