{% extends locals.path + '/index.njk' %}

{% block head %}
{% endblock %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% block content %}
<div class="contact">
  <img src="https://jordanhall.co.uk/wp-content/uploads/2015/06/Open-Source-Logo.png" width="80px">
<h1>جامعه متن باز قم</h1>
</div>
<div class="description">
<div class="col-des">
<h3>لورم اپیسوم</h3>
<p>لورم اپیسوم متن ساختگیلورم اپیسوم متن ساختگی لورم اپیسوم متن ساختگی لورم اپیسوم متن ساختگیلورم</p>
</div>
<div class="col-des">
<h3>لورم اپیسوم</h3>
<p>لورم اپیسوم متن ساختگیلورم اپیسوم متن ساختگی لورم اپیسوم متن ساختگی لورم اپیسوم متن ساختگیلورم</p>
</div>
<div class="col-des">
<h3>لورم اپیسوم</h3>
<p>لورم اپیسوم متن ساختگیلورم اپیسوم متن ساختگی لورم اپیسوم متن ساختگی لورم اپیسوم متن ساختگیلورم</p>
</div>
</div>
<div class="home-content">
<div class="activists">
  <h3>فعالان</h3>
<div class="person">
<div class="profile-img"></div>
<div class="person-info"></span>محمد سیفی مرندی</span></div>
</div>
<div class="person">
<div class="profile-img"></div>
<div class="person-info"></span>محمد سیفی مرندی</span></div>
</div>
<div class="person">
<div class="profile-img"></div>
<div class="person-info"></span>محمد سیفی مرندی</span></div>
</div>
<div class="person">
<div class="profile-img"></div>
<div class="person-info"></span>محمد سیفی مرندی</span></div>
</div>
<div class="person">
<div class="profile-img"></div>
<div class="person-info"></span>محمد سیفی مرندی</span></div>
</div>
<div class="person">
<div class="profile-img"></div>
<div class="person-info"></span>محمد سیفی مرندی</span></div>
</div>
</div>
<div class="last-posts">
  <h3>مطالب اخیر</h3>
  <div class="posts">
  <div class="posts-head">
  <div class="posts-head-right">
  <div class="profile-img"></div>
  <div class="col-name">
  <span>محمد سیفی مرندی </span>
  <small>چند لحضه پیش</small>
  </div>
  </div>
  {# <div class="posts-head-left">
    <div class="like-btn">
         <span>10</span>
          <i class="fa fa-heart" aria-hidden="true"></i>
  </div>
<div class="view-btn">
  <span>85</span>
<i class="fa fa-eye" aria-hidden="true"></i>
</div>
  </div> #}
  </div>
  <div class="posts-pic">
<img src="http://www.majidonline.com/file/width/800/1918/vuejs-and-reactjs-a-quick-comparison.png">
  </div>
  <div class="posts-body">
    <div class="posts-title">
    <span>مقایسه سریع Vue.JS و React.JS </span>
    </div>
  <div class="posts-summary">
    <p>سعه‌دهندگان فرانت-اند از ابزار‌های مختلفی استفاده می‌کنند. بحث در مورد این ابزار‌ها و این‌که کدام یک بهتر است، می‌تواند به یک جنگ تبدیل شود</p>
  </div>


</div>
<div class="posts-footer">
<div class="posts-event">
  <div class="like-btn">
       <span>10</span>
        <i class="fa fa-heart" aria-hidden="true"></i>
</div>
<div class="view-btn">
<span>85</span>
<i class="fa fa-eye" aria-hidden="true"></i>
</div>
</div>

   <span>بیشتر بخوانید . . .</span>
</div>
</div>
</div>



















{# <div class="posts-likes">
<span>لایک</span>
</div> #}

{% if empty != true %}
{% for i in posts %}
<div style="border: 1px solid red;">
  <a href="/viewpost/{{ i._id }}">{{ i.title }}</a>
  <h3>{{ i.content }}</h3>
  <h5>{{ i.minutes }} minutes read</h5>
  <p>Created at: {{ i.createdAt }}</p>
  <p>Author: {{ i.author.fname }} {{ i.author.lname }}</p>
  <p>Author Username: {{ i.author.username }}</p>
</div>
{% endfor %}
{% endif %}
{% endblock %}

{% block scripts %}
<script>
  const changeIcon = x => x.classList.toggle('change');
</script>
<script src="/files/js/home-localstorage.js"></script>
{% endblock %}
