{% extends locals.path + '/index.njk' %}

{% block head %}
{% endblock %}

{% block content %}
  <form action="/login" method="post" name="login-form">
      <div class="card">
        <div class="card-right">
         <h1>ورود</h1>
         <p>وارد حساب کاربری خود شوید</p>
         <input
           type="email"
           name="email"
           required
           placeholder="ایمیل"
           maxlength="200">

               <input
                 type="password"
                 name="password"
                 required
                 placeholder="رمز"
                 maxlength="100">
                 <p id="svg-captcha"></p>
                 <input
                   type="password"
                   name="captcha"
                   required
                   placeholder="کد امنیتی"
                   maxlength="10">

         <div class="row">
           <input
             type="submit"
             value="ورود" class="sub">
           <a href="/forgot">فراموشی رمز</a>
         </div>
        </div>
        <div class="card-left">
            <h1>ثبت نام</h1>
            <p>اگر در سامانه عضو نیستید به راحتی می توانید همین الان نام نویسی کنید.</p>
            <a href="/signup">
              <button class="btn" type="button">عضویت</button>
            </a>
        </div>
         </div>





  </form>
{% endblock %}

{% block scripts %}
  <script src="/files/js/login.js"></script>
{% endblock %}
