{% extends './layouts/index.njk' %}

{% block head %}
{% endblock %}

{% block content %}
  <form action="/login" method="post" name="login-form">

    <input
      type="email"
      name="email"
      required
      placeholder="ایمیل"
      maxlength="200">

    <input
      type="password"
      name="password"
      required
      placeholder="رمز"
      maxlength="100">

    <p id="svg-captcha"></p>

    <input
      type="password"
      name="captcha"
      required
      placeholder="کد امنیتی"
      maxlength="10">

    <input
      type="submit"
      value="ورود">

  </form>
{% endblock %}

{% block scripts %}
<script src="/files/js/lib/validator.js"></script>
<script src="/files/js/lib/checkstatus.js"></script>
  <script src="/files/js/login.js"></script>
{% endblock %}
