{% extends './layouts/index.njk' %}

{% block head %}
{% endblock %}

{% block content %}
  <h1>توجه! با ساختن اکانت مستقیما وارد سایت نمیشوید. باید تا زمان تایید
  مدیران سایت صبر کنید</h1>
  <form action="/signup" method="post" name="signup-form">
    <input type="text" name="fname" placeholder="نام">
    <input type="text" name="lname" placeholder="نام خانوادگی">
    <input type="text" name="username" placeholder="یوزرنیم">
    <input type="email" name="email" placeholder="ایمیل">
    <input type="password" name="password" placeholder="رمز عبور">
    <input type="submit" value="ثبت">
  </form>
{% endblock %}

{% block scripts %}
<script src="/files/js/lib/checkstatus.js"></script>
<script src="/files/js/lib/validator.js"></script>
<script src="/files/js/signup.js"></script>
{% endblock %}
