{% extends './layouts/index.njk' %}

{% block head %}
{% endblock %}

{% block content %}
  <form action="/signup" method="post">
    <input type="text" name="fname" placeholder="fname">
    <input type="text" name="lname" placeholder="lname">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="sabt">
  </form>
{% endblock %}

{% block scripts %}
{% endblock %}
