{% extends locals.path + '/index.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/user.css">
{% endblock %}

{% block content %}
<div id="user-panel">
  <h1>{{ member.fname }} {{ member.lname }}</h1>
  <img src="/files/image/matin.jpg" alt="عکس کاربر">
  <p id="user-email">{{ member.email }}</p>
  <p id="user-id">@matinkaboli</p>
  <p id="user-description"> {{ member.description }}</p>
  <br>
  <p>مدت حظور کاربر: {{ member.createdAt }}</p>
</div>
<div id="works">
  <h1>پست های اخیر</h1>
  <div class="recent-posts">
    {% for i in posts %}
      <div class="post-box">
        <img src="/files/image/matin.jpg" alt="عکس کاربر">
        <h2 class="post-title">{{ i.title }}</h2>
        <p class="post-content">{{ i.content }}</p>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}
