{% extends locals.path + '/index.njk' %}

{% block head %}
  <link rel="stylesheet" href="/files/css/viewpost.css">
  <link rel="stylesheet" href="/files/css/home.css">
  <link rel="stylesheet" href="/files/css/post-short.css">
{% endblock %}

{% block content %}
  <div class="viewpost" style="background-image: url('/img/{{ p.post.avatar }}');">
    <span>
      {{ p.post.title }}</span>
  </div>
  <div class="viewpost-info-all">
    <div class="viewpost-info">
      <div class="viewpost-info-in">
        <div class="view-post-head-right">
          <a href="/user/{{ p.author.username }}">
            <div class="profile-img" style="background-image: url('/img/{{ p.author.avatar }}');
      background-size: cover;">
          </a>
          </div>
          <a href="/user/{{ p.author.username }}">
            <span>{{ p.author.fname }}
              {{ p.author.lname }}</span>
          </a>
        </div>
        <div class="viewpost-icon">

          <span>
            <i class="fa fa-eye" aria-hidden="true"></i>
            {{ p.other.viewers }}
          </span>
          <span>
            مطالعه : &nbsp;&nbsp;{{ p.post.minutes }}&nbsp; دقیقه
          </span>
        </div>
      </div>
    </div>

  </div>
  <div class="viewpost-body">
    <div class="viewpost-text">
      <p>{{ p.post.content }}</p>
      <div class="event">
        <div class="posts-event">
          <div id="dislike-btn">
            {% if p.liked %}
            <i
              class="fa fa-heart liked"
              aria-hidden="true"
              id="like-dislike-btn"
              data-id="{{ p.post._id }}"
              data-status="liked"></i>
            {% else %}
            <i
              class="fa fa-heart disliked"
              aria-hidden="true"
              id="like-dislike-btn"
              data-id="{{ p.post._id }}"
              data-status="disliked"></i>
            {% endif %}
              &nbsp;
          </div>
          <span class="like-spn" id="like-and-dislike-number">{{ p.other.likes }}</span>
        </div>
        <span>
          <i class="fa fa-calendar" aria-hidden="true"></i>
          &nbsp;{{ p.other.createdAt }}
        </span>
      </div>
    </div>
    <div class="viewpost-left"></div>
  </div>
  <div class="user-info">
    <div class="user-info-right">
      <a href="/user/{{ p.author.username }}">
        <div class="profile-img" style="background-image: url('/img/{{ p.author.avatar }}');
         background-size: cover;">
       </div>
      </a>
    </div>
    <div class="user-info-left">
       <span class="username">
         <a href="/user/{{ p.author.username }}">
         <span>{{ p.author.fname }}
           {{ p.author.lname }}</span>
       </a>
     </span>
       {% if p.author.description %}
         <p>{{ p.author.description }}</p>
       {% endif %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    var URL = '{{ p.post._id }}';
  </script>
  <script src='/files/js/ipchecker.js'></script>
  <script src='/files/js/like-post.js'></script>
{% endblock %}
