//about page

.developers {
background: #40AA54;
height: 700px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;


  img {
    width: 250px;
    border-radius: 100%;
  }
  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fec901;
    margin: 10px;
    border-top-left-radius: 130px;
    border-top-right-radius: 130px;

    a {
      font-size: 25px;
    }
  }

  h1 {
    margin-bottom: 20px;
    font-family: SB;
  }
}

.developers-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-name {
  color: #222;

  &:hover {
    color: #333;
  }
}

.qomosc-admin {
  margin-top: -20px;
  height: 700px;
  background: #fec901;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: SB;
    margin-bottom: 20px;

    font-size: 50px;
  }

  figure {
    background: #40AA54;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 300px;
      border-radius: 100%;
      margin-bottom: 8px;
    }
  }
  a {
    font-family: SB;
    font-size: 25px;
    cursor: pointer;
  }
}

.admin-name {
  font-family: SB;
  font-size: 17px;
}

.admin-description {
  font-size: 15px;
  color: #333;
}

.content {
  margin: 20px 20%;
}

.icons {
  a {
    color: #222;

    &:hover {
      color: black;
    }
  }
}
.contributor-name {
  font-size: 16px;
  font-family: SB;
  color: black;

  &:hover {
    text-decoration: underline;
  }
}

.contributor-icon {
  font-size: 20px;
  color: #333;

  &:hover, &:active {
    color: black;
  }
}

.content-of-about-us {
  background: #fff;
  width: 80%;
  margin: auto;
  padding: 20px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #ccc;
}

@media (min-width: 120px) and (max-width: 500px) {
.content-of-about-us {
  width: 85%;

  .content {
    margin:5px 6%;
  }
}
.developers {
  height: 900px;
}

.developers-img {
  flex-direction: column;
}

.about-all {
  padding: 5px;
}


}
