// login & signup page

.card {
  display: flex;
  width: 65%;
  height: 380px;
  margin: auto auto;
  margin-top: 80px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #ccc;
}

.card-right {
  background-color:#fff;
  padding: 10px 60px;

  p {
    color: #adadad;
    margin-bottom: 10px;
  }

  label {
    margin: 5px;
  }

  h1 {
    font-weight: normal;
    font-size: 40px;
  }
}

.card-left {
  display: flex;
  flex-direction: column;
  background-color:#009884;
  color: #fff;
  text-align: center;
  padding: 50px 1px;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  input {
    width: 90%;
    margin: 5px;
    padding: 0.6rem 0.75rem;
    font-size: 14px;
    line-height: 1.25;
    border-radius: 4px;
    color:#004c4c;
    border: 1px solid rgba(0,95,82,0.2);
    transition: 0.5s;

    &:focus {
      box-shadow: 0 0 3px #40AA54;
    }
}

.btn {
  border: none;
  margin-top: 20px;
  background-color: #008573;
  width: 180px;
  padding: 9px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  color: #Fff;
  font-size: 18px;

  &:hover {
    background-color: #333;
    color: #fff;
  }
}


.row2 {
  display: flex;
  justify-content: center;
}

  .sub {
    width: 30%;
    cursor: pointer;
    background-color: #008573;
    color: #fff;
  }

  .sub2 {
    width: 90%;
    background-color: #008573;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border-radius: 0;
    line-height: 1.25;
    cursor: pointer;
    margin-top: 20px;

    &:hover {
      background:  #00AB94;
    }
  }

 .reg {
   display: flex;
   flex-direction: column;
   padding: 1rem 1rem;
   background: #fff;
   width: 500px;
   height: 500px;
   box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
   margin: auto;
   margin-top: 50px;

   p {
     color: #adadad;
     font-size: 14px;
   }
 }

 .head {
   margin-bottom: 30px;
 }

 .foot {
   width: 514px;
   background: #d2d2d2;
   padding: 10px;
   color: #919191;
   margin: auto;
   text-align: center;
 }

.signup {
  display: flex;
  flex-direction: column;
}

@media (min-width: 120px) and (max-width: 500px) {

  .card {
    flex-direction: column;
    width: 100%;
    margin-top: 0;
  }
  .reg {
    width: 90%;
    margin-top: 0;
  }
  .foot {
    width: 300px;
  }
}
// end login page
