
.allposts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.title-post-all{
  background: #40AA54;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  color: #fff;
  text-shadow: 1px 3px 1px #333;

  i {
    margin-left:10px;
  }
}
