.posts-all {
  display: flex;
  flex-direction: row-reverse;
}
.col-left {
  background: #fff;
  height: 300px;
  width: 20%;
  margin: 10px;
  border: 1px solid #eee;
}
.allposts {
  background: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  border: 1px solid #eee;
  width: 80%;
  padding: 10px;
}
.title-post-all{
  background: #666;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  color: #fff;
  text-shadow: 1px 3px 1px #333;

  i {
    margin-left:10px;
  }
}

.posts-delete {
  background-color: #333;
  padding: 5px;
  text-align: center;
  input {
    background: #cf1b1b;
    padding: 5px 50px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: lighten(#cf1b1b, 10%);
    }
  }
}

@media only screen and (max-width: 480px)
{
  .posts-all {
    flex-direction: column-reverse;
    align-items: center;
  }

  .allposts {
    margin: 0;
    width: 100%;
  }
  .col-left {
    margin: 0;
    width: 100%;
  }
}
