.conference-container {
  background: #fff;
  width: 85%;
  display: flex;
  justify-content: center;
  margin: 10px auto auto auto;
  height: auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
  display: flex;
  flex-wrap: wrap;

   form {
     display: flex;
     flex-direction: column;
     align-items: center;

     input[type="submit"] {
       background-color: #40AA54;
       color: #fff;
       cursor: pointer;

       &:hover {
         background-color: darken(#40AA54, 10%);
       }
     }
   }
}


.confs {
  background: #555;
  padding: 15px;
  border-radius: 5px;
  line-height: 1.6em;
  text-align: center;
  width: 45%;
  margin: 10px;
  height: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    text-align: justify;
  }

  h3 {
    margin-top: 5%;
  }
}


///conference page in home

.cnf {
  background: #fff;
  width: 75%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
  display: flex;

  p {
    text-align: right;
    margin: 10px;
    color: #616161;
  }

  h3 {
    color: #40AA54;
    font-family: SB;
  }
}

.confs-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding: 2px 5px;
  width: 97%;

  span {
    color: #818181;
    font-size: 13px;
  }
}

.avatar-confs {
  width: 15%;
  border-left: 1px solid #adadad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;

  img {
    border-radius: 100%;
    width: 65px;
  }

  span {
    font-size: 15px;
    color: #484848;
    margin-top: 2px;
  }
}

.cnf-content {
  width: 100%;
  padding: 5px;
}



.cnf-manage {
  background: #fff;
  width: 50%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);

    div {
      span {
        text-align: center;
        color: #555;
      }

    }
}

.cnf-control {
  display: flex;
  form {
    margin: 5px;
  }

  p {
    text-align: justify;
    margin: 5px;
  }

  input[type="submit"] {
    width: 150px;
    height: 30px;
    font-size: 14px;
    padding: 5px;
  }
}

.red-btn {
  background: red;
  color: #fff;
  margin: auto auto;
  width: 300px;
  cursor: pointer;
  font-size: 17px;

  &:hover {
    background-color: darken(red, 10%);
  }
}

@media (min-width: 120px) and (max-width: 500px){
.conference-container {
  padding: 5px;
  width: 95%;
}
  .confs {
    width: 100%;
  }

  .cnf {
    width: 90%;
    flex-direction: column;
  }

  .avatar-confs {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding:0;
    margin: 0;
    padding-bottom: 8px;
  }

  .confs-title {
    flex-direction: column;
    align-items: center;
    text-align: center;

    h3 {
      font-size: 22px;
    }
  }

  .cnf-content p {
    text-align: justify;
  }
}
