footer {
  height: 300px;
  background-color: darken(#2f3239, 10%);
  position: relative;
}
.bottom-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  height: 40px;
  background-color: darken(#2f3239, 5%);
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  color: #e8e8e8;

  span {
    background: #2f3239;
    padding: 6px 10px;
    border-radius: 20px;
  }
}
