header {
  width: 100%;
  background-color: #40AA54;
  color: #333;
  height: 70px;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);

  ul {
    list-style: none;

    li {
      margin: 0 25px;
      display: inline;

      a {
        color: #fff;

        &:active,
        &:hover {
          color: #f2f2f2;
        }
      }
    }
  }
}

#user-fname {
  color: #333;

  &:active,
  &:hover {
    color: #222;
  }
}

.title {
  font-size: 25px;
  font-family: SB;
  color: #fff;
  text-shadow: 1px 3px 3px #333;

  &:active,
  &:hover {
    color: #f5f5f5;
  }

  i {
    font-size: 45px;
    vertical-align: middle;
    background: green;
    border-radius: 100%;
    color: #f1f1f1;
  }
}

#short-title-name {
  display: none;
}

#icon-container {
  display: inline-block;
  cursor: pointer;
  display: none;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #444;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.profile-avatar-header {
  display: flex;
  align-items: center;
  background-color: #fec901;
  border-radius: 50px;
  padding-left: 10px;
  margin-right: -60px;

  img {
    width: 40px;
    border-radius: 100%;
    margin-left: 10px;
    border: 2px solid #fff;
  }

  a {
    font-size: 15px;
    color: #333;

    &:hover {
      color: #555;
    }
  }
}
// /////////////////////////////////////////

.cpanel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1.7em;
  margin-top: 10px;
  text-align: center;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  span {
    font-family: S;
    font-size: 15px;
  }
}
// dropdown
.dropbtn {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border: none;
  display: flex;
  flex-direction: column;
  text-align: center;

  i {
    font-size: 20px;
    vertical-align: middle;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: #333;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #f2f2f2;
}

@media (min-width: 120px) and (max-width: 500px) {
  #short-title-name {
    display: block;
  }

  #long-title-name {
    display: none;
  }

  #icon-container {
    display: inline;
  }

  #header-list {
    display: none;
  }

  .cpanel {
    display: none;
  }
}
