header {
  width: 100%;
  background-color: #40AA54;
  color: #333;
  height: 60px;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

  ul {
    list-style: none;

    li {
      display: inline;
      margin: 0 20px;

      a {
        color: #fff;

        &:hover, &:active {
          color: #f2f2f2;
        }
      }
    }
  }
}

#user-fname {
  color: #333;

  &:hover, &:active {
    color: #222;
  }
}

.title {
  font-size: 25px;
  font-family: SB;
  color: #fff;
  text-shadow: 1px 3px 3px #333;

  &:hover, &:active {
    color: #f5f5f5;
  }
}

#short-title-name {
  display: none;
}

#icon-container {
  display: inline-block;
  cursor: pointer;
  display: none;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #444;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.profile-avatar-header{
  display: flex;
  align-items: center;
  background-color: #fec901;
  border-radius: 50px;
  padding-left: 10px;

  img {
   width: 40px;
   border-radius: 100%;
   margin-left: 10px;
   border: 2px solid #fff;
 }

 a {
   font-size: 15px;
   color: #333;

   &:hover {
     color: #555;
   }
 }
}

// tooltip
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 16px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
// /////////////////////////////////////////
.cpanel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;

   li {
     margin-right: 20px;
   }
}

@media (min-width: 120px) and (max-width: 500px) {
  #short-title-name {
    display: block;
  }

  #long-title-name {
    display: none;
  }

  #icon-container {
    display: inline;
  }

  #header-list {
    display: none;
  }

  .cpanel {
    display: none;
  }

}
