.contact {
  background-color: #212125;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact h1 {
  margin-right: 10px;
  color: #e1e1e1;
  font-size: 60px;
  text-shadow: 4px 4px 25px rgba(0, 0, 0, 0.5);
  letter-spacing: -2px;
}

.description {
  display: flex;
  padding: 10px;
  justify-content: center;
  text-align: center;
  background: #eeeeee;
}

.col-des {
  padding: 5px;
  text-align: center;
  border-right: solid 1px #adadad;
  width: 30%;
}

.home-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin: 10px;
}

.activists {
  width: 25%;
  color: #333;
  background-color: #40AA54;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.telegram {
  background: #00bcd4;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  height: 300px;

  a {
       color: #fff;
       transition: 0.2s;

       &:hover {
         color: #555;
       }
  }

  img {
    width: 45px;
    margin-right: 10px;
  }
}

.tel {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 5px;
}

.tel2 {
  margin-top: 20px;
  text-align: center;
  border-top: 3px solid #0088cc;
  padding: 5px;

  span {
    font-size: 17px;
  }
  a {
    cursor: pointer;
  }
}

.last-posts {
  width: 80%;
  margin: 10px;
  background-color: #fff;
}

.last-posts h3 {
  background: #40AA54;
  text-align: center;
  color: #fff;
}

.latset-posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.person {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  padding: 10px;
  background-color: #ebebeb;
}

.person-info {
  margin-right: 8px;
}
@media (min-width: 120px) and (max-width: 500px) {
  .description {
    flex-direction: column;
    text-align: center;
  }

  .col-des {
    width: 100%;
    border: none;
    padding: 0;
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: solid 1px #919191;
  }

  .home-content {
    flex-direction: column;
    justify-content: center;
  }

  .activists {
    width: 100%;
    margin: 0;
  }

  .person {
    justify-content: center;
  }

  .last-posts {
    width: 100%;
    margin: 0;
  }

  .view-btn {
    border: none;
  }

  .contact {
    flex-direction: column;
  }
}
