* {
  padding: 0;
  margin: 0;
  font-family: S;
}

a {
  text-decoration: none;
}

body {
  direction: rtl;
  background-color: #f8f8f8;
}

input , textarea {
  width: 90%;
  margin: 5px;
  padding: 0.6rem 0.75rem;
  font-size: 14px;
  line-height: 1.25;
  border-radius: 4px;
  color:#004c4c;
  border: 1px solid rgba(0,95,82,0.2);
  transition: 0.5s;

  &:focus {
    box-shadow: 0 0 3px #40AA54;
  }
}

.page-title {
  background: #fec901;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;

  span {
    margin-right: 10px;
  }

  i {
    font-size: 30px;
    vertical-align: middle;
  }
}

.green-btn {
  background-color: #40AA54;
  color: #fff;
  margin: auto auto;
  width: 300px;
  cursor: pointer;
  font-size: 17px;

  &:hover {
    background-color: darken(#40aa54, 10%);
  }
}
