.post-container {
  background: #fff;
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.add-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-post-icons {
  background: #656565;
  padding: 5px;
  width: 93%;

  i {
    background: #898989;
    padding: 5px 8px;
    color: #fff;
  }
}
