.replies {
  display: flex;
  justify-content: center;
  align-items: center;
}
.repl-404 {
  color: #333;
  background: #40AA54;
  margin: 20px;
  padding: 20px;
  font-size: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    font-size: 40px;
  }
}
