body {
  display: flex;
}

#user-panel {
  text-align: center;
  margin: 10px;
  border-radius: 3px;
  width: 300px;
  height: auto;
  background-color: white;
  color: #555;
  padding-bottom: 20px;

  img {
    width: 250px;
    height: 250px;
  }
}

#user-id {
  direction: ltr;
  font-size: 20px;
}

#works {
  width: 80%;
  height: auto;
  margin: 10px;
  background-color: white;
  color: #111;
}

.post-box {
  margin: 15px;
  border: 1px solid #eee;
  width: 250px;
  height: 400px;

  img {
    width: 250px;
    height: 250px;
  }
}

.post-content {
  overflow: hidden;
}

.post-title {
  overflow: hidden;
}

.recent-posts {
  display: flex;
}

#user-info {
  display: flex;
  text-align: center;
  justify-content: center;

  i {
    margin: 0 15px;
  }

  td {
    padding: 10px 0;
    max-width: 200px;
    overflow-wrap: break-word;
    overflow: hidden;
  }
}

@media (min-width: 120px) and (max-width: 580px) {
  body {
    flex-direction: column;
  }

  .recent-posts {
    flex-direction: column;
  }

  #works {
    width: 95%;
  }
}
