.viewpost {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 572px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: inset 0 0 103px -58px rgba(0,0,0,0.77);
}

.viewpost span {
  font-size: 50px;
  color: #fff;
  text-shadow: 1px 4px 2px rgba(0,0,0,0.3);
  font-family: SB;
}

.viewpost-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  opacity: 0.9;

  span {
    font-size: 13px;
    margin-right: 6px;
    text-shadow: 1px 4px 2px rgba(0,0,0,0.3);
  }

  .profile-img {
    border: none;
  }

  i {
    font-size: 10px;
  }
}

.viewpost-body {
  padding: 40px 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.viewpost-text {
  padding: 10px 30px 100px;
  background: #fff;
  width: 65%;
  height: auto;
  text-align: justify;
  border: 1px solid #eee;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  position: relative;
  line-height: 2.1em;
  display: flex;
  flex-direction: column;

  img {
    width: 450px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
  }

  code,
  pre {
    background: #f45;
  }
}

.viewpost-info {
  background: #40AA54;
  padding: 5px;
  width: 67%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #ccc;
}

.viewpost-info-all {
  display: flex;
}

.viewpost-info-in {
  display: flex;
  flex-direction: row;
}

.viewpost-info span {
  margin: 10px;
  letter-spacing: -.3px;
  font-family: SB;
  transition: 0.3s;

  &:hover {
    color: #d2d2d2;
  }
}

.view-post-head-right {
  display: flex;
  align-items: center;
  margin-left: 15px;

  a {
    color: #fff;
  }
}

.event {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #f2f2f2;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  color: #999;
  transition: 0.2s;
  font-size: 14px;

  .posts-event {
    margin-left: 20px;
  }

  i {
    vertical-align: middle;
  }
}

.viewpost-icon {
  display: flex;
  align-items: center;
  color: #e5e5e5;
  font-size: 14px;
}

.user-info {
  display: flex;
  width: 68%;
  height: auto;
  margin: auto;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #ccc;
}

.user-info-right {
  background: #f1f1f1;
  width: 10%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    width: 80px;
    height: 80px;
  }
}

.user-info-left {
  background: #fff;
  padding: 10px;
  width: 100%;

  p {
    color: #666;
    font-size: 14px;
  }
}

.username a {
  color: #222;
  font-family: SB;
}

#dislike-btn i {
  margin-right: 10px;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    color: red;
  }
}

.like-spn {
  display: flex;
  align-items: center;
  font-size: 20px;
  transition: 0.3s;
}

.liked {
  color: red;
}

.disliked {
  color: black;
}

.col-name span {
  color: #444;
}
@media (min-width: 120px) and (max-width: 500px) {
  body {
    overflow-x: hidden;
  }

  .viewpost-left {
    display: none;
  }

  .viewpost-body {
    padding: 0;
  }

  .viewpost-info {
    width: 96%;
    font-size: 13px;
    margin: auto;
    padding: 2px;
  }

  .viewpost-icon {
    font-size: 10px;
    text-align: center;
  }

  .viewpost-info-in {
    width: 100%;
  }

  .view-post-head-right {
    width: 300px;
    font-size: 12px;
  }

  .viewpost-info span {
    margin-right: 3px;
  }

  .viewpost-text {
    width: 80%;
    height: auto;
    font-size: 15px;
    word-wrap: break-word;

    img {
      width: 250px;
    }
  }

  .event {
    font-size: 13px;
    padding: 2px 10px;
  }

  .user-info {
    width: 89.2%;
    flex-direction: column;
    border: none;
    margin-right: 3%;
    margin-top: 10%;
  }

  .user-info-right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .user-info-left {
    width: 100%;
    text-align: center;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;

    div {
      margin: 10px;
    }
  }

  .username {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #d2d2d2;
    padding: 5px;
    width: auto;
  }
}
