:local(.container) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 10px 0;
  color: #333;
  font-size: 18px;
}

:local(.user) {
  > p:nth-of-type(1) {
    font-family: SB;
  }
}

:local(.userImage) {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

:local(.articles) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
