:local(.container) {
  width: 100%;

  > h1 {
    text-align: center;
    background: #222831;
    width: auto;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: #fff;
  }
}

:local(.allarticle) {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  flex-wrap: wrap;

  > div {
    margin: 20px;
  }

}

@media (min-width: 120px) and (max-width: 580px) {
  :local(.container) > div {
    width: 90%;
  }
}
