{% extends './layouts/layoutname' %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/files/css/" />
{% endblock %}

{% block content %}
{% endblock %}

{% block scripts %}
<script src="/files/js/"></script>
{% endblock %}
