@import '~Root/css/colors';

:local(.container) {
  display: flex;

  > div {
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

:local(.userAvatar) {
  width: 280px;
  height: 280px;
}

:local(.username) {
  color: @blue-1;
}
