{% if locals.logged %}
<section class="fixedfooter">
  <a href="/u/conference/">
    ارائه های من
    <i class="fab fa-weixin"></i>
  </a>
  <a href="/u/article/all">
    مقالات من
    <i class="far fa-envelope-open" aria-hidden="true"></i>
  </a>
  <a href="/u/gallery">
    البوم من
    <i class="far fa-images"></i>
  </a>
</section>
{% endif %}
