{% if locals.logged %}
<section class="fixedfooter">
  <a href="/u/conference/">
    ارائه های من
    <i class="icon-weixin"></i>
  </a>
  <a href="/u/article/">
    مقالات من
    <i class="icon-pencil" aria-hidden="true"></i>
  </a>
  <a href="/u/gallery/">
    البوم من
    <i class="icon-images"></i>
  </a>
</section>
{% endif %}
