<footer>
  <div class="footer-container">
    <div class="footer-row1">
      <a href="/" class="site-title">جامعه متن باز قم</a>

      <form name="newsletter-form" action="/subscribe" method="post">

        <input
          type="email"
          name="email"
          placeholder="ایمیل خود را برای عضویت در خبرنامه وارد کنید">

        <input type="submit" value="تایید">
      </form>
    </div>

    <div class="footer-row2">
      <div class="footer-row2-info">
        <i class="icon-map" aria-hidden="true"></i>
        <p class="p-footer">
          <span>ایران، قم</span>
        </p>
      </div>
      <div class="footer-row2-info">
        <i class="icon-email" aria-hidden="true"></i>
        <a href="mailto:@@EMAILADDRESS@@">@@EMAILADDRESS@@</a>
      </div>
    </div>

    <div class="footer-row3">
      <a href="/about" class="about-us">
        <h4>درباره جامعه متن باز قم</h4>
      </a>
      <a href="/about" class="about-us">
        <p>
          جامعه متن‌باز قم با هدف فراهم کردن محیطی برای به اشتراک گذاری دانش و تجربیات افرادی که در زمینه‌های مختلف متن‌باز فعالیت می‌کنند تاسیس شده است...
        </p>
      </a>
      <p></p><br>
      <a href="/contact" class="about-us">
        <h4>تماس با جامعه متن باز قم</h4>
      </a>
    </div>

  </div>

  <div class="bottom-footer">
    <p>این پروژه تماما متن باز بوده و شما با مراجعه به این صفحه در
      <a href="https://github.com/qomosc/blog">گیت هاب</a>
      قادر به همکاری و مشارکت هستید.
    </p>
    <div>
      <a href="https://t.me/QomOSC" class="fab fa-telegram"></a>
      <a href="https://github.com/qomosc/blog" class="fab fa-github"></a>
    </div>
  </div>
</footer>
