{% extends locals.path + '/u.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/lib/cropper.css">
<script src="/files/js/lib/cropper.js"></script>
<style>
.container {
  max-width: 400px;
}

img {
  max-width: 100%;
}
</style>
{% endblock %}

{% block content %}
<form action="/u/setting" method="post" name="main-setting">
  <input
    type="text"
    name="fname"
    required
    value="{{ member.fname }}"
    placeholder="first name">

  <input
    type="text"
    name="lname"
    required
    value="{{ member.lname }}"
    placeholder="last name">

  <input
    type="text"
    name="username"
    required
    value="{{ member.username }}"
    placeholder="username">

  <input
    type="text"
    name="description"
    required
    value="{{ member.description }}"
    placeholder="Description">

  <input
    type="email"
    name="email"
    required
    value="{{ member.email }}"
    placeholder="email">

  <input type="submit" value="done">
</form>

<form action="/u/setting/password" method="post" name="pass-setting">
  <input
    type="password"
    name="password"
    required
    placeholder="Old password">

  <input
    type="password"
    name="newpassword"
    required
    placeholder="New Password">

  <input type="submit" value="done">
</form>

<input type="submit" value="Delete Account" id="delete-account">

<p>
  <input type="file" id="upload" value="Upload">
  <input type="submit" id="crop" value="Crop">
</p>
<div class="container">
    <img id="preview">
  <div class="container">
    <img id="done">
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="/files/js/upload-image.js"></script>
<script src="/files/js/lib/checkstatus.js"></script>
<script src="/files/js/lib/validator.js"></script>
<script src="/files/js/setting.js"></script>
{% endblock %}
