{% extends locals.path + '/u.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/lib/cropper.css">
<link rel="stylesheet" href="/files/css/setting-cropper.css">
<link rel="stylesheet" href="/files/css/post.css">
{% endblock %}

{% block content %}
  <div class="page-title">
    <i class="icon-pencil"></i>
    <span>پست کردن</span>
  </div>

  <div class="post-container">

    <form action="/u/article/add" method="post" name="add-post">
      <div class="add-post">

        <input type="text" name="title" required="required"
        placeholder="عنوان" maxlength="100" class="post-title">

        <div class="add-post-icons">
          <i class="icon-bold" id="add-bold-text" title="پر رنگ کردن"></i>

          <i class="icon-italic" id="add-italic-text" title="کج کردن"></i>

          <i class="icon-strikethrough" id="add-line-through-text"
          title="خط کشیدن روی متن"></i>

          <i class="icon-code" id="add-code-text"
          title="اضافه کردن کد"></i>

          <i class="icon-link" id="add-link-text"
          title="اضافه کردن لینک"></i>

          <label for="add-photo-to-post" title="اضافه کردن عکس">
            <i class="icon-image"></i>
          </label>
        </div>

        <input type="file" title="اضافه کردن عکس"
        id="add-photo-to-post" style="display: none;">
          <textarea id="post-content" name="content" rows="8" cols="80"
          required="required" placeholder="متن" maxlength="10000"></textarea>

      <input
        type="text"
        name="tags"
        maxlength="100"
        placeholder="برچسب ها (با کاما جدا کنید)">

      <input type="file" id="upload" value="Upload" style="display: none;">

      <label for="upload" class="cam-icon">
        <span>افزودن عکس پست</span>
        <i class="icon-camera" title="عکس پست"></i>
      </label>

      <input type="submit" value="ثبت" class="green-btn">

   </div>
    </form>
  </div>

  <button id="preview" style="display: none">Preview</button>

  <div id="show"></div>

  <div id="all">
    <div class="container">
      <img id="img-preview">
    </div>
    <div class="container">
      <img id="done">
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="/files/js/lib/showdown.min.js"></script>
<script src="/files/js/lib/cropper.js"></script>
<script src="/files/js/add-article.js"></script>
<script src="/files/js/article-options.js"></script>
{% endblock %}
