{% extends locals.path + '/u.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/conference.css">
{% endblock %}

{% block content %}
{% if empty %}
<div class="page-title">
  <span>هیچ نظری ثبت نشده است</span>
</div>
{% else %}
<div id="content-container">
  {% for i in comment %}
    <div class="cnf" id="{{ i._id }}">
      <div class="avatar-confs">
        <a href="/user/{{ i.provider.username }}">
          {% if i.provider.avatar %}
            <img src="/img/{{ i.provider.avatar }}">
          {% else %}
            <img src="/files/image/default-user.png">
          {% endif %}
        </a>
        <a href="/user/{{ i.provider.username }}">
          <span>{{ i.name }}</span>
        </a>
      </div>
      <div class="cnf-content">
        <div class="confs-title">
          <span>{{ i.createdAt }}</span>
          <span>{{ i.email }}</span>
        </div>
        <p>توضیحات :
          {{ i.description }}</p>
        {% if i.article %}
          <p>در مقاله:
            <a href="/article/{{ i.article._id }}">{{ i.article.title }}</a>
          </p>
          <p>عکس مقاله:</p>
          <img src="/img/{{ i.article.avatar }}" width="200px">
        {% endif %}
      </div>
      <div class="action-div">
        <form
          action="/u/comments/accept/{{ i._id }}"
          method="post"
          class="accept-form accept">

          <input
            type="hidden"
            name="id"
            value="{{ i._id }}">

          <textarea
          name="answer"
          placeholder="پاسخ"></textarea>

          <input
            type="submit"
            value="پذیرفتن و نمایش نظر در سایت"
            class="green-btn">

        </form>
        <form
          action="/u/comments/reject/{{ i._id }}"
          method="post"
          class="reject-form reject">

          <input
            type="hidden"
            name="id"
            value="{{ i._id }}">

          <input
            type="submit"
            value="نپذیرفتن"
            class="green-btn">

        </form>
      </div>
    </div>

  {% endfor %}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="/files/js/article-comment-decision.js"></script>
{% endblock %}
