{% extends locals.path + '/u.njk' %}

{% block head %}
{% endblock %}

{% block content %}
{% if empty %}
<div class="page-title">
  <span>هیچ نظری ثبت نشده است</span>
</div>
{% else %}
{% for i in comment %}
<div style="border-bottom: 3px solid red;" id="{{ i._id }}">
  <p>id: {{ i._id }}</p>
  <p>name: {{ i.name }}</p>
  <p>email: {{ i.email}}</p>
  <p>description: {{ i.description }}</p>
  <p>createdAt: {{ i.createdAt }}</p>
  {% if i.article %}
    <p>post title: {{ i.article.title }}</p>
    <p>post _id: {{ i.article._id }}</p>
    <p>post avatar: {{ i.article.avatar }}</p>
  {% endif %}
  <form
    action="/u/article-comments/reject/{{ i._id }}"
    class="reject"
    method="post">

    <input type="hidden" name="id" value="{{ i._id }}">

    <input type="submit" value="نپذیرفتن">
  </form>

  <form
    action="/u/article-comments/accept/{{ i._id }}"
    class="accept"
    method="post">

    <input type="hidden" name="id" value="{{ i._id }}">

    <textarea
    name="answer"
    placeholder="پاسخ"></textarea>

    <input type="submit" value="پذیرفتن">
  </form>
</div>
{% endfor %}
{% endif %}
{% endblock %}

{% block scripts %}
<script src="/files/js/article-comment-decision.js"></script>
{% endblock %}
