{% extends locals.path + '/u.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/conference.css">
{% endblock %}

{% block content %}
{% if empty %}
<div class="page-title">
  <span>هیچ نظری ثبت نشده است</span>
</div>
{% else %}
<div id="content-container">
  {% for i in comment %}
    <div class="cnf" id="{{ i._id }}">
      <div class="avatar-confs">
        <a href="/user/{{ i.provider.username }}">
          {% if i.provider.avatar %}
            <img src="/img/{{ i.provider.avatar }}">
          {% else %}
            <img src="/files/image/default-user.png">
          {% endif %}
        </a>
        <a href="/user/{{ i.provider.username }}">
          <span>{{ i.name }}</span>
        </a>
      </div>
      <div class="cnf-content">
        <div class="confs-title">
          <h3>
            عنوان :
            {{ i.title }}</h3>
          <span>{{ i.createdAt }}</span>
          <span>{{ i.email }}</span>
        </div>
        <p>توضیحات :
          {{ i.description }}</p>
      </div>
      <div class="action-div">
        <form
          action="/u/comments/accept/{{ i._id }}"
          method="post"
          class="accept-form">

          <input
            type="hidden"
            name="id"
            value="{{ i._id }}">

          <textarea
          name="answer"
          placeholder="پاسخ"></textarea>

          <input
            type="submit"
            value="پذیرفتن و نمایش نظر در سایت"
            class="green-btn">

        </form>
        <form
          action="/u/comments/reject/{{ i._id }}"
          method="post"
          class="reject-form">

          <input
            type="hidden"
            name="id"
            value="{{ i._id }}">

          <input
            type="submit"
            value="نپذیرفتن"
            class="green-btn">

        </form>
      </div>
    </div>

  {% endfor %}
</div>
{# {% for i in comment %}
<div style="border-bottom: 3px solid red;" id="{{ i._id }}">
  <p>id: {{ i._id }}</p>
  <p>name: {{ i.name }}</p>
  <p>email: {{ i.email}}</p>
  <p>description: {{ i.description }}</p>
  <p>createdAt: {{ i.createdAt }}</p>
  {% if i.article %}
    <p>post title: {{ i.article.title }}</p>
    <p>post _id: {{ i.article._id }}</p>
    <p>post avatar: {{ i.article.avatar }}</p>
  {% endif %}
  <form
    action="/u/article-comments/reject/{{ i._id }}"
    class="reject"
    method="post">

    <input type="hidden" name="id" value="{{ i._id }}">

    <input type="submit" value="نپذیرفتن">
  </form>

  <form
    action="/u/article-comments/accept/{{ i._id }}"
    class="accept"
    method="post">

    <input type="hidden" name="id" value="{{ i._id }}">

    <textarea
    name="answer"
    placeholder="پاسخ"></textarea>

    <input type="submit" value="پذیرفتن">
  </form>
</div> #}
{% endfor %}
{% endif %}
{% endblock %}

{% block scripts %}
<script src="/files/js/article-comment-decision.js"></script>
{% endblock %}
