{% extends locals.path + '/u.njk' %}

{% block head %}
  <link rel="stylesheet" href="/files/css/post.css">
{% endblock %}

{% block content %}
  <div class="page-title">
    <i class="icon-edit"></i>
    <span>تغییر پست</span>
  </div>

  <div class="post-container">

    <form action="/u/article/edit" method="post" name="edit-post">
      <div class="add-post">

        <input
          type="text"
          name="title"
          placeholder="عنوان"
          maxlength="100"
          value="{{ article.title }}">

        <input
          type="hidden"
          name="id"
          value="{{ article._id }}">

        <div class="add-post-icons">
          <i class="icon-bold" id="add-bold-text" title="پر رنگ کردن"></i>

          <i class="icon-italic" id="add-italic-text" title="کج کردن"></i>

          <i class="icon-strikethrough" id="add-line-through-text"
          title="خط کشیدن روی متن"></i>

          <i class="icon-code" id="add-code-text"
          title="اضافه کردن کد"></i>

          <i class="icon-link" id="add-link-text"
          title="اضافه کردن لینک"></i>

          <label for="add-photo-to-post" title="اضافه کردن عکس">
            <i class="icon-image"></i>
          </label>
        </div>

        <input type="file" title="اضافه کردن عکس"
        id="add-photo-to-post" style="display: none;">
          <textarea
            id="post-content"
            name="content"
            rows="8"
            cols="80"
            required="required"
            placeholder="متن"
            maxlength="10000">{{ article.content }}</textarea>

      <input type="submit" value="ثبت" class="green-btn">

   </div>
    </form>
  </div>

{% endblock %}

{% block scripts %}
  <script src="/files/js/edit-article.js"></script>
  <script src="/files/js/add-article.js"></script>
{% endblock %}
