<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/files/css/font-fa.css">
    <link rel="stylesheet" href="/files/css/main.css">
    <link rel="stylesheet" href="/files/css/header.css">
    <link rel="stylesheet" href="/files/css/home.css">
    <link rel="stylesheet" href="/files/css/account.css">
    <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/files/css/lib/izi.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/files/image/favicon.ico">
    <title>Qom OSC</title>
    <title>{{ title }}</title>
    {% for item in locals.header %}
      {{ item | safe }}
    {% endfor %}

    {% block head %}
    {% endblock %}
  </head>
  <body>
    <header>
      {% if logged %}
        <a href="/u" id="user-fname">{{ logged.fname }}</a>
      {% else %}
      <div id="icon-container" onclick="changeIcon(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      <ul id="header-list">
        <li><a href="/login">ورود</a></li>
        <li><a href="/signup">عضویت</a></li>
      </ul>
      {% endif %}
      <a href="/" id="long-title-name" class="title">Qom Open Source Community</a>
      <a href="/" id="short-title-name" class="title">QOM OSC</a>
    </header>
    {% block content %}
    {% endblock %}

    {% for item in locals.header %}
      {{ item | safe }}
    {% endfor %}

    <script src="/files/js/lib/izi.min.js"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
