<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    {% for item in locals.header %}
      {{ item | safe }}
    {% endfor %}

    {% block head %}
    {% endblock %}
  </head>
  <body>

    {% block content %}
    {% endblock %}

    {% for item in locals.header %}
      {{ item | safe }}
    {% endfor %}

    {% block scripts %}
    {% endblock %}
  </body>
</html>
