<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/files/css/font-fa.css">
    <link rel="stylesheet" href="/files/css/main.css">
    <link rel="stylesheet" href="/files/css/header.css">
    <link rel="stylesheet" href="/files/css/footer.css">
    <link rel="stylesheet" href="/files/css/home.css">
    <link rel="stylesheet" href="/files/css/account.css">

    <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/files/css/lib/izi.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/files/image/favicon.ico">
    <title>Qom OSC</title>
    <title>{{ title }}</title>
    {% for item in locals.header %}
      {{ item | safe }}
    {% endfor %}

    {% block head %}
    {% endblock %}
  </head>
  <body>
    <header>
      {% if logged %}
        <a href="/u" id="user-fname">{{ logged.fname }} {{logged.lname}}</a>
      {% else %}
      <div id="icon-container" onclick="changeIcon(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      <ul id="header-list">
        <li><a href="/login">ورود</a></li>
        <li><a href="/signup">عضویت</a></li>
      </ul>
      {% endif %}
      <a href="/" id="long-title-name" class="title">جامعه متن باز قم</a>
      <a href="/" id="short-title-name" class="title">QOM OSC</a>
    </header>
    <div id="all-container">
    {% block content %}
    {% endblock %}
    </div>
    <footer>
      <div class="footer-container">
         <div class="footer-row1">
           <a href="/" class="site-title">جامعه متن باز قم</a>
           <p>
             به نام آنکه نوشتن را به قلم آموخت، کپی برداری از مطالب سایت آزاد است
            کلیه حقوق محتوا این سایت متعلق به جامعه متن باز قم می باشد
           </p>

           <form name="newsletter-form" action="/newsletter" method="post">
               <input
                type="email"
                name="email"
                placeholder="ایمیل خود را برای عضویت در خبرنامه وارد کنید">

               <input
                type="submit"
                value="تایید">
           </form>
         </div>

            <div class="footer-row2">
              <div class="footer-row2-info">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <p class="p-footer">
                     <span>ایران</span>
                     قم
                  </p>
              </div>
              <div class="footer-row2-info">
                 <i class="fa fa-envelope" aria-hidden="true"></i>
                 <a href="mailto:qomosc@gmail.com">qomosc@gmail.com</a>
              </div>

            </div>
               <div class="footer-row3">
                 <h4>درباره جامعه متن باز قم</h4>
                 <p>
                    جامعه متن باز قم را میتوان به عنوان مرجعی برای آموزش و حل مشکلات دانست، در بپرسم سعی کرده ایم آموزش های برنامه نویسی، طراحی سایت، کار با نرم افزارها ها و... را آموزش دهیم. همچنین محیطی فراهم کرده ایم تا کاربران بتوانند در این محیط سوالات خود را بپرسند و مشکل خود را حل کنند.
                 </p>

               </div>

            </div>
            <div class="bottom-footer">
               <span> 2018 QomOSC. All rights reserved ©</span>
            </div>
    </footer>
    {% for item in locals.header %}
      {{ item | safe }}
    {% endfor %}

    <script src="/files/js/lib/izi.min.js"></script>
    <script src="/files/js/lib/validator.js"></script>
    <script src="/files/js/add-newsletter.js"></script>
    {% block scripts %}
    {% endblock %}
  </body>

</html>
