<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/files/css/font-fa.css">
    <link rel="stylesheet" href="/files/css/main.css">
    <link rel="stylesheet" href="/files/css/header.css">
    <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/files/css/lib/izi.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Qom OCS</title>
    <title>{{ title }}</title>
    {% for item in locals.header %}
      {{ item | safe }}
    {% endfor %}

    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock %}

    {% for item in locals.header %}
      {{ item | safe }}
    {% endfor %}

    <script src="/files/js/lib/izi.min.js"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
