{% extends locals.path + '/u.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/conference.css">
{% endblock %}

{% block content %}
<div class="page-title">
  <span>درخواست برای ارائه کنفرانس
</span>
</div>
<div class="conference-container">
<form action="/u/conference/add" method="post" name="add-conference">
  <input
    type="text"
    name="title"
    required
    placeholder="موضوع ارائه">

    <textarea
      name="description"
      placeholder="درباره"
      rows="8"
      cols="80"></textarea>

    <input
      type="submit"
      value="ارسال درخواست">
</form>
</div>
{% endblock %}

{% block scripts %}
<script src="/files/js/add-conference.js"></script>
{% endblock %}
