{% extends locals.path + '/u.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/conference.css">
{% endblock %}

{% block content %}
{% if empty %}
 <div class="page-title">
  <span>شما هیچ درخواستی برای ارائه نداده اید</span>
  </div>
{% else %}
<div class="page-title">
<span>ارائه های درخواست داده شده</span>
</div>
<div class="conference-container">
  {% for i in confs %}
    <div class="confs" id="{{ i.author }}">
      <h3> موضوع ارائه :  {{ i.title }}</h3>
      <h3>توضیحات : </h3>
      <p>{{ i.description }}</p>

      <form action="/u/conference/remove" method="post" class="delete-conf">
        <input type="hidden" name="id" value="{{ i._id }}">
        <input type="hidden" name="provider" value="{{ i.author }}">
        <input type="submit" value="پاک کردن">
      </form>
    </div>
  {% endfor %}
  </div>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="/files/js/delete-conf.js"></script>
{% endblock %}
