:local(.container) {
  margin: 0 auto;
  text-align: center;
}

:local(.articles) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  > div {
    margin: 20px;
    width: 50%;
  }
}
